@media print{
#titulo, #divmenu, #indice, #boton {
	display:none;
}

#fondo{
    width:1052px;
	background-color: #ffffff;
	margin:auto;
	border: solid 2px #ffffff;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}

#pie{
	border: solid 2px #ffffff;
}

#titulo2{
	display:inline;
}
.enhancedtable{
	text-align: center;
	font: 90% sans-serif;
}

#fondoreporte{
	width:100%;
	position: relative;
	background-color: transparent;
	text-align::center;
}
#resultados_reporte{
	text-align: center;
	margin:auto;
}
#resultados{
	text-align: center;
	margin:auto;
}
#contenido{ 
	border-style:none;
	border-width:medium;
	border-color:#0066CC;
	text-align: center;
	width:100%;
}
#contenido_reporte{
    width: auto;
	background-color: #ffffff;
	text-align:center;
}

#imprimir .texto{
	display:inline;
	width:720px; 
}

#bannereporte {
	text-align: center;
	display:inline;
}
}